<div ng-show="foundedItems.length==0">
    <h3 class='display-4 text-center'>Nothing found </h3>
</div>
<table class="table table-striped">
    <tr ng-repeat="item  in foundedItems">

        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">({{item.short_name}})</h6>
                    <p class="card-text">{{ item.description }}.</p>
                    <button class="btn btn-primary" ng-click="onRemove({myid:item.id})">Don't want this one!</button>
                </div>
            </div>
        </td>

        </td>
    </tr>
</table>